﻿@using ABDALLAH.Data.ViewModels
@model LoginVM
@{
    ViewData["Titel"] = "تسجيل الدخول إلى حسابك";
}
<section class="w-100 h-100">
    <div class="container-fluid h-custom">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-md-9 col-lg-6 col-xl-5">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
                     class="img-fluid" alt="Sample image">
            </div>
            <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
               
                    <div class="d-flex flex-row align-items-center justify-content-center justify-content-lg-start">
                    <p class="lead fw-normal mb-0 me-3 text-bold">تسجيل الدخول إلى حسابك</p>
                        <button type="button" class="btn btn-primary btn-floating mx-1">
                        <i class="bi bi-facebook"></i>
                        </button>

                        <button type="button" class="btn btn-primary btn-floating mx-1">
                        <i class="bi bi-twitter"></i>
                        </button>

                        <button type="button" class="btn btn-primary btn-floating mx-1">
                        <i class="bi bi-linkedin"></i>
                        </button>
                    </div>
                @if (TempData["Error"] != null)
                {
                    <div class="col-md-12 alert alert-danger">
                        <span><b>عذرا!</b>-@TempData["Error"]</span>
                    </div>
                }
                <form asp-action="Index">
                    <!-- Email input -->
                    <div class="form-outline mb-4">
                        <label class="form-label" for="form3Example3" asp-for="EmialAddress">Email address</label>
                        <input asp-for="EmialAddress" class="form-control" class="form-control form-control-lg" />
                        <span asp-validation-for="EmialAddress" class="text-danger"></span>
                    </div>

                    <!-- Password input -->
                    <div class="form-outline mb-3">
                        <label asp-for="Password" class="form-label" for="form3Example4">Password</label>
                        <input asp-for="Password" class="form-control form-control-lg"/>
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="form-group text-center text-lg-start mt-4 pt-2">
                        <input type="submit" value="تسجيل الدخول" class="btn btn-outline-success" style="padding-left: 2.5rem; padding-right: 2.5rem;" />
                        <a class=" btn btn-outline-secondary" asp-controller="User" asp-action="Register" class="small fw-bold mt-2 pt-1 mb-0">انشاء حساب جديد</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="d-flex flex-column flex-md-row text-center text-md-start justify-content-between py-4 px-4 px-xl-5 bg-primary">
        <!-- Right -->
        <div>
            <a href="#!" class="text-white me-4">
                <i class="bi bi-facebook"></i>
            </a>
            <a href="#!" class="text-white me-4">
                <i class="bi bi-twitter"></i>
            </a>
            <a href="#!" class="text-white me-4">
                <i class="bi bi-youtube"></i>
            </a>
            <a href="#!" class="text-white">
                <i class="bi bi-linkedin"></i>
            </a>
        </div>
        <!-- Right -->
    </div>
</section>