<div class="row">
    <div class="col-md-6 offset-3 alert-success text-center">
        <h2 >
            تم إنشاء حسابك بنجاح
        </h2>
        <p> 
            يمكنك الآن تسجيل الدخول إلى حسابك باستخدام عنوان البريد الإلكتروني وكلمة المرور
        </p>
        <hr />
        <p>
            شكرًا لك!
        </p>
    </div>
</div>
<form asp-controller="User" asp-action="Index">
    <button class="btn btn-outline-secondary position-relative" >الرجوع لتسجيل الدخول<i class="bi bi-box-arrow-left"></i></button>
</form>