@model PRODUCT

@{
    ViewData["Title"] = "تحديث معلومات الطلب";
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css">
<form asp-action="Edit">
    <div class="container-fluid">
        <div class="row">
            <div class="col-8">
                <h2 class="text-center">
                    تحديث معلومات الطلب
                </h2>
                <br />
                <br />
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label asp-for="PNumber" class="control-labe float-right"> كمية المنتج</label>
                            <input asp-for="PNumber" class="form-control " />
                            <span asp-validation-for="PNumber" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="NameFR" class="control-labe float-right"> الاسم بالأبجدية اللاتينية</label>
                            <input asp-for="NameFR" class="form-control " />
                            <span asp-validation-for="NameFR" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="NameAR" class="control-labe float-right"> الاسم بالحروف الهجائية العربية</label>
                            <input asp-for="NameAR" class="form-control " />
                            <span asp-validation-for="NameAR" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Benefit" class="control-labe float-right"> الفائدة</label>
                            <input asp-for="Benefit" class="form-control " />
                            <span asp-validation-for="Benefit" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Price" class="control-labe float-right"> السعر</label>
                            <input asp-for="Price" class="form-control " />
                            <span asp-validation-for="Price" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label asp-for="Description" class="control-labe float-right"> الوصف</label>
                            <input asp-for="Description" class="form-control " />
                            <span asp-validation-for="Description" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Destination" class="control-labe float-right"> الوجهة</label>
                            <input asp-for="Destination" class="form-control " />
                            <span asp-validation-for="Destination" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Date" class="control-labe float-right">التاريخ</label>
                            <input asp-for="Date" class="form-control " />
                            <span asp-validation-for="Date" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="ShippingPayment" class="control-labe float-right"> رسوم الشحن</label>
                            <input asp-for="ShippingPayment" class="form-control " />
                            <span asp-validation-for="ShippingPayment" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Statu" class="control-labe float-right"> الحالة</label>
                            <input asp-for="Statu" class="form-control " />
                            <span asp-validation-for="Statu" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <h3 class="float-right">
                    معلومات العميل
                </h3>
                <br />
                <br />
                <br />
                <br />
                <div class="form-group">
                    <label asp-for="CostumerFullName" class="control-labe float-right"> اسم العميل</label>
                    <input asp-for="CostumerFullName" class="form-control " />
                    <span asp-validation-for="CostumerFullName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CotumerCity" class="control-labe float-right">مدينة العميل </label>
                    <input asp-for="CotumerCity" class="form-control " />
                    <span asp-validation-for="CotumerCity" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CostumerPhoneNumber" class="control-labe float-right"> رقم هاتف العميل</label>
                    <input asp-for="CostumerPhoneNumber" class="form-control " />
                    <span asp-validation-for="CostumerPhoneNumber" class="text-danger"></span>
                </div>
                <input type="submit" value="تحديث" class="btn btn-outline-primary float-start"/>
                <a class="btn btn-danger text-white" style="margin-left:150px" @*asp-action="Delete" asp-route-id="@item.ID"*@> <i class="bi bi-trash"></i> حذف</a>
                <a class="btn btn-outline-info float-end" asp-action="Index"> <i class="fas fa-home"></i>الصفحة الرئيسية</a>
            </div>
        </div>
    </div>
</form>