@model IEnumerable<User>
<div class="row">
    <div class="col-6 col-md-4">
        <h2>
            HELLO @Html.DisplayNameFor(model=> model.FullName)
        </h2>
        <div>
            <label>
                @Html.DisplayNameFor(model=> model.Email)
            </label>
        </div>
        <div>
            <label>

            </label>
        </div>
    </div>
    <div class="col-12 col-md-8">
    </div>
</div>